language: ruby
cache: bundler
rvm:
- 2.2.2
addons:
  apt:
    packages:
    - python-sphinx
before_install: gem install bundler -v 1.11.2
install:
- bundle install --jobs=3 --retry=4
- git config --global user.name  "Travis CI"
- git config --global user.email "pdc@product-definition-center.com"
script:
- bundle exec rake test
- >
  if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then
    bundle exec pronto run -f github_pr -c origin/${TRAVIS_BRANCH}
  fi

after_success:
- >
  [ "$TRAVIS_BRANCH" = "master" ] &&
  [ "$TRAVIS_PULL_REQUEST" = "false" ]
  make -C docs/ setup_gh_pages gen_deploy
env:
  global:
    PRONTO_PULL_REQUEST_ID=${TRAVIS_PULL_REQUEST}
