---
http_interactions:
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/rhel-7.1/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      last-modified:
      - Thu, 08 Sep 2016 05:59:08 GMT
      allow:
      - GET, PUT, PATCH, HEAD, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"release_id":"rhel-7.1","short":"rhel","version":"7.1","name":"Red
        Hat Enterprise Linux","base_product":null,"active":true,"product_version":"rhel-7","release_type":"ga","compose_set":["RHEL-7.1-20140507.2","RHEL-7.1-20140708.n.0","RHEL-7.1-20150219.1"],"integrated_with":null,"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null}'
  recorded_at: Sat, 10 Sep 2016 03:41:04 GMT
recorded_with: VCR 3.0.3
