---
http_interactions:
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      last-modified:
      - Thu, 21 Jul 2016 12:24:12 GMT
      allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":54,"next":"https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/?page=2","previous":null,"results":[{"release_id":"atomicopenshift-3.2","short":"atomicopenshift","version":"3.2","name":"AtomicOpenShift","base_product":null,"active":true,"product_version":"atomicopenshift-3","release_type":"ga","compose_set":["AtomicOpenShift-3.2-20160519.4","AtomicOpenShift-3.2-20160519.6","AtomicOpenShift-3.2-20160520.3","AtomicOpenShift-3.2-20160520.4","AtomicOpenShift-3.2-20160520.6","AtomicOpenShift-3.2-20160520.7","AtomicOpenShift-3.2-20160530.2"],"integrated_with":null,"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null},{"release_id":"cloudforms-4.1","short":"cloudforms","version":"4.1","name":"CloudForms","base_product":null,"active":true,"product_version":"cloudforms-4","release_type":"ga","compose_set":["CloudForms-4.1-20160520.8","CloudForms-4.1-20160520.9","CloudForms-4.1-20160530.1","CloudForms-4.1-20160530.2"],"integrated_with":null,"bugzilla":null,"dist_git":null,"brew":null,"product_pages":null,"errata":null},{"release_id":"dotnet-1.0@rhel-7","short":"dotnet","version":"1.0","name":"dotNET
      [...]
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/global%2Dcomponent%2Dcontacts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      last-modified:
      - Fri, 24 Nov 2017 00:41:57 GMT
      allow:
      - GET, POST, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":12546,"next":"https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/global-component-contacts/?page=2","previous":null,"results":[{"id":1,"component":"389-ds-base","role":"QE_Group","contact":{"id":1,"mail_name":"IdM
        - Red Hat Directory Server","email":"sramling@redhat.com"}},{"id":2,"component":"mozldap","role":"QE_Group","contact":{"id":1,"mail_name":"IdM
        - Red Hat Directory Server","email":"sramling@redhat.com"}},{"id":3,"component":"perl-Mozilla-LDAP","role":"QE_Group","contact":{"id":1,"mail_name":"IdM
        - Red Hat Directory Server","email":"sramling@redhat.com"}},{"id":4,"component":"svrcore","role":"QE_Group","contact":{"id":1,"mail_name":"IdM
        - Red Hat Directory Server","email":"sramling@redhat.com"}},{"id":5,"component":"389-ds-base","role":"QE_Leader","contact":{"id":2,"username":"jgalipea","email":"jgalipea@redhat.com"}},{"id":6,"component":"antlr-maven-plugin","role":"QE_Leader","contact":{"id":2,"username":"jgalipea","email":"jgalipea@redhat.com"}},{"id":7,"component":"args4j","role":"QE_Leader","contact":{"id":2,"username":"jgalipea","email":"jgalipea@redhat.com"}},{"id":8,"component":"bind-dyndb-ldap","role":"QE_Leader","contact":{"id":2,"username":"jgalipea","email":"jgalipea@redhat.com"}},{"id":9,"component":"ccid","role":"QE_Leader","contact":{"id":2,"username":"[...]
