---
http_interactions:
- request:
    method: get
    uri: https://pdc.host.dev.eng.pek2.redhat.com/rest_api/v1/releases/?active=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      last-modified:
      - Thu, 21 Jul 2016 12:24:12 GMT
      allow:
      - GET, POST, PUT, PATCH, HEAD, OPTIONS
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Thu, 31 Dec 2015 14:00:00 GMT
recorded_with: VCR 3.0.3
